<img class="pic" mat-image src="./../../assets/images/pic1.png" style="width:100px;height:100px;" class="center">

<mat-card class="example-card">
  <div class="parent">

    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-center">
      <div class="example-form">

        <p>Please enter your email address to request a password reset.</p>

        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email Address" #passwordResetEmail required>
        </mat-form-field>
      </div>

      <mat-card-actions>
        <!-- Calling ForgotPassword from AuthService Api -->
        <input type="submit" class="forgot-pass-btn" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">

        <!-- Calling redirect to login up page -->
        <div class="redirectToLogin">
          <span>Go back to <span class="redirect" routerLink="/login">Log In?</span></span>
        </div>

      </mat-card-actions>
    </mat-card-content>
  </div>
</mat-card>