<img class="pic" mat-image src="./../../assets/images/pic1.png" style="width:100px;height:100px;" class="center">

<mat-card class="example-card">
  <div class="parent">

    <mat-card-header>
      <mat-card-title>Thank You for Registering</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text-center">
      <div class="example-form">

        <div *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <mat-card-actions>
        <button type="button" class="resend-email-btn" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>

        <!-- Calling redirect to login up page -->
        <div class="redirectToLogin">
          <span>Go back to <span class="redirect" routerLink="/login">Log In?</span></span>
        </div>

      </mat-card-actions>
    </mat-card-content>
  </div>
</mat-card>